<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/media/images/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barclays Bank</title>
    <script type="module" crossorigin src="/static/assets/index-BSm9NgFt.js"></script>
    <link rel="modulepreload" crossorigin href="/static/assets/rolldown-runtime-S-ySWqyJ.js">
    <link rel="modulepreload" crossorigin href="/static/assets/react-vendor-B1Uq8O-1.js">
    <link rel="modulepreload" crossorigin href="/static/assets/vendor-ChB1d7Tu.js">
    <link rel="stylesheet" crossorigin href="/static/assets/vendor-CqLr8KVv.css">
    <link rel="stylesheet" crossorigin href="/static/assets/index-CdBbazcN.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
